@mixin footer($theme) {
    width: 100vw;
    overflow-y: hidden;
    margin-top: auto;

    .setting-btn {
        font-size: 3em;
        background: none;
        border: none;
        color: darken($active-clr,0);
        cursor: pointer;
        opacity: 50%;
    }

    .active {
        @include active($active-clr-light);
    }
}

.footerLight {
    @include footer($clr-dark);

    .active {
        @include active($active-clr-light);
    }
}

.footerDark {
    @include footer($clr-light);

    .active {
        @include active($active-clr-dark);
    }
}

// Apply hover effect to non-touch screens only
@media (hover: hover), (pointer: fine) {
    .setting-btn {
        transition: all 0.5s ease-in-out;

        &:hover {
            opacity: 100;
            transform: rotate(180deg);
        }
    }
}
