@mixin footer($theme) {
    width: 100vw;
    overflow-y: hidden;
    // Push to the end of the page (not good for small height)
    position: absolute;
    bottom: 0;
    right: 0;

    button {
        font-size: 1.5em;
        text-transform: capitalize;
        border: solid $theme 2px;
        margin: 1em;
        padding: 0.5em;
        border-radius: 20px;
        color: $theme;
        cursor: pointer;
        min-width: 5em;
    }

    .active {
        @include active($active-clr-light);
    }
}

.footerLight {
    @include footer($clr-dark);

    .active {
        @include active($active-clr-light);
    }
}

.footerDark {
    @include footer($clr-light);

    .active {
        @include active($active-clr-dark);
    }
}

// Apply hover effect to non-touch screens only
@media (hover: hover), (pointer: fine) {
    button {
        position: relative;
        overflow: hidden;

        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom;
            z-index: 5;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: currentColor;
            opacity: 0.25;
            transform: scaleX(0);
            transform-origin: top;
            transition: transform 350ms ease;
        }
    }
}
