.footer{
    width: 100vw;

    button{
      font-size: 1.5em;
      text-transform: capitalize;
      border: solid $clr 2px;
      margin: 1em;
      padding: 0.5em;
      border-radius: 20px;
      color: $clr;
      cursor: pointer;
      min-width: 5em;
    }

    .active {
      @include active($active-clr-light);
    }
}

// Apply hover effect to non-touch screens only
@media (hover: hover), (pointer: fine){
  .footer{
    button{
      position:relative ;
      overflow: hidden;

      &:hover::after{
        transform: scaleX(1);
        transform-origin:bottom;
        z-index: 5;
      }

      &::after{
        content: '';
        position:absolute ;
        left: 0;
        top: 0;
        height:100%;
        width: 100%;
        background:currentColor;
        opacity: 0.25;
        transform: scaleX(0);
        transform-origin:top;
        transition:  transform 350ms ease;
      }
    }
  }
}
