@mixin prayTime {
    h1,
    h2 {
        padding: 0.5em;
    }
    ul {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        padding: 1em;

        li {
            border-radius: 20px;
            // border: solid $clr 2px;
            // box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.48); 
            margin: 0.5em;
            padding: 0.25em;
            width: 6.5em;

            & h3 {
                padding: 0.25em 0;
            }
        }
    }
    .remainTime {
        font-size: 2em;
        font-weight: bolder;
    }
}

.prayTimeLight {
    @include prayTime;

    li {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.48);
    }
    .active {
        @include active($active-clr-light);
    }
    .remainTime {
        color: $active-clr-light;
    }
}

.prayTimeDark {
    @include prayTime;

    li {
        box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.48);
    }
    .active {
        @include active($active-clr-dark);
    }
    .remainTime {
        color: $active-clr-dark;
    }
}
