@import "config";
@import "clock";
@import "date";
@import "prayTime";
@import "footer";
@import "toggleThemes";
@import "settings";
@import "radioButton";

/*
App
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  color: $clr;
  font-size: 11px;
  transition: background-color 0.5s ease;
}

.dark{
  background-color: $clr-dark;
  color: $clr-light;
}

.light{
  background-color: $clr-light;
  color: $clr-dark;
}

@media only screen and (min-width: 360px) {
  .app {
    font-size: 12px;
  }
}


@media only screen and (min-width: 700px) {
  .app {
    font-size: 14px;
  }
}

@media only screen and (min-width: 900px) {
  .app {
    font-size: 15px;
  }
}
