
.clock{
    margin: 2em 1em;
    h2{
        font-size: 5em;
        font-weight: 400;
        display: inline;
    }
    span{
        font-size: 2rem;
        font-weight: 400;
        padding: .1em;
    }
}