
.clock{
    margin: auto;
    h2{
        font-size: 5em;
        font-weight: 400;
        display: inline;
    }
    span{
        font-size: 2em;
        font-weight: 400;
        padding: .5em;
        
    }
}