@import "config";
@import "clock";
@import "date";
@import "prayTime";
@import "footer";

/*
body
App
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: $clr;
  font-size: 12px;
}

@media only screen and (min-width: 700px) {
  .App {
    font-size: 14px;
  }
}

@media only screen and (min-width: 900px) {
  .App {
    font-size: 16px;
  }
}
