@import 'config';
@import 'clock';
@import 'date';
@import 'prayTime';
@import 'buttons';

/*
body
App
*/


body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.App{
    margin: auto;
    height: 100vh;
    width: 100vw;
    text-align: center;
    color : $clr;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}